@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 930px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  /* overflow: hidden; */
  border-radius: 20px;
}

.image {
  position: relative;
  padding: 50px 50px 50px 0;
  margin-left: -50px;
  /* overflow: visible; */
  overflow: hidden;
}

.box {
  position: absolute;
  top: 190px;
  left: -30px;
  overflow: hidden;
}

.faq {
  padding: 50px;
  padding-bottom: 0;
}

.faq h2 {
  color: hsl(238, 29%, 16%);
  font-size: 28px;
  padding-bottom: 20px;
}

.faq > div {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq span {
  transition: 0.4s;
  float: right;
}

label {
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 15px 15px 15px 0;
  color: hsl(237, 12%, 33%);
  transition: 0.4s;
}

label:hover {
  color: hsl(14, 88%, 65%);
}

input {
  display: none;
}

.content {
  padding: 5px 0px;
  margin: 0 0 1px 0;
  border-radius: 3px;
  color: hsl(240, 6%, 50%);
  font-size: 14px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.4s, opacity 0.4s;
}

input:checked ~ .content {
  height: 60px;
  opacity: 1;
}

input:checked ~ label {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

input:checked ~ label span {
  transition: 0.4s;
  transform: rotate(180deg);
}
